* {
	padding: 0;
	margin: 0;
	outline: 1px solid orange;
}

body {
	background: #262626;
	font-size: 14px;
	font-family: Verdana;
	color: #d4d4d4;
}

header {
	background: #222222;
	padding: 50px 160px 120px 160px;
}

.sait {
	width: 1280px;
	margin: 0 auto;
}

nav {
	display: flex;
	justify-content: space-between;
}

nav ul {
	list-style: none;
	display: flex;
	align-items: center;
}

nav ul li {
	margin-right: 30px;
}

.logo {
	width: 60px;
	height: 60px;
	margin-right: 60px;
}

.mail {
	margin: 0;
	margin-right: 25px;
}

.phone {
	margin: 0;
}

a {
	font-size: 14px;
	font-family: Verdana;
	color: #d4d4d4;
	text-decoration: none;
}

a:hover {
	color: #ffffff;
}

.right {
	width: 438px;
	height: 437px;
}

.main {
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
}

.left {
	margin-left: 120px;
}

.left h1 {
	margin-top: 70px;
	font-family: "Courier New";
	font-size: 45px;
	font-weight: bold;
	color: #ffffff;
}

.left p {
	margin-top: 70px;
}

.button {
	margin-top: 60px;
	width: 240px;
	height: 50px;
	border-radius: 30px;
	background: #ffcb06;
	border: 0 solid #ffcb06;
	font-size: 14px;
	font-family: Verdana;
	color: #000000;
	font-weight: bold;
	display: flex;
	justify-content: space-around;
}

.button:hover {
	background: #d4d4d4;
	color: #ffffff;
}

.advantages {
	background: #131313;
	padding: 80px 160px;
	display: flex;
	justify-content: space-between;
}

.advantages p {
	margin-top: 40px;
}

.content {
	padding: 80px 160px;
	background: #ffffff;
	display: flex;
	justify-content: space-between;
}	

.content p {
	color: #222222;
	font-family: Verdana;
	font-size: 14px;
	margin-bottom: 28px;
}

.content h1 {
	color: #131313;
	font-family: "Courier New";
	font-size: 24px;
}

.var {
	margin-bottom: 60px;
}

.var1 {
	margin-top: 80px;
	margin-bottom: 35px;
}

.content li span span {
	font-weight: bold;
}

.content li span {
	color: #131313;
}

.content li {
	color: #ffcb06;
	margin-bottom: 25px;
	margin-left: 18px;
}

.form {
	padding: 80px 160px;
	background: #f0f0f0;
	display: flex;
	justify-content: space-between;
}

.form p {
	color: #222222;
	font-family: Verdana;
	font-size: 14px;
}

.form h1 {
	color: #131313;
	font-family: "Courier New";
	font-size: 24px;
	margin-bottom: 50px;
}
input {
	padding: 20px;
	font-family: sans-serif;
	color: #222222;
	font-size: 14px;
	margin-bottom: 10px;
	background-color: #ffffff;
}
.imp1 {
	width: 450px;
}
.imp1 {
	width: 450px;
	
}
form span {
	font-family: sans-serif;
	font-size: 13px;
	padding-left: 20px;
	color: #222222;
	
}
.button-1 {
	margin-top: 35px;
	width: 240px;
	height: 50px;
	border-radius: 30px;
	background: #222222;
	border: none;
	font-size: 14px;
	font-family: Verdana;
	color: #ffffff;
	font-weight: bold;
	display: flex;
	justify-content: space-around;
}
.button-1:hover {
	color: #ffffff;
}
.right-2 h1 {
	font-family: "Courier New";
	font-size: 24px;
	color: feca30;
	padding-left: 159px;
	padding-top: 92px;
}
.table {
	background: #555555;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.left-2 a {
	color: #feca30;
	font-family: Verdana;
	font-size: 13px;
	text-decoration: underline;
}
.left-2  p {
	padding-right: 159px;
	padding-top: 92px;
	font-family: Verdana;
	font-size: 13px;
	color: #ffffff;
}
.12345 {
	background: #111111;
	font-family: Verdana;
	font-size: 14;
	color: #ffffff;
	padding-left: 162px;
	padding-right: 162px;
}
.123 {
	padding-left: 162px;
	padding-right: 162px;
	font-family: Verdana;
	font-size: 14;
	background: #222222;
}